@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes slide-from-left {
	from {
		left: -100px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

@keyframes slide-from-top {
	0% {
		opacity: 0;
		max-height: 0vh;
	}
	100% {
		opacity: 1;
		max-height: 1.5em;
	}
}

@keyframes bg-nick-appear {
	0% {
		/* border-color: transparent; */
	}
	100% {
		box-shadow: 5px 5px 0px #000000;
		/*border-color: #b63c3c; */
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: #98b9dd6a;
	}
}