@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes slide-from-left {
	from {
		left: -100px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

@keyframes slide-from-top {
	0% {
		height: 0em;
	}
	99% {
		height: calc(1em + 3px);
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}

@keyframes bg-nick-appear {
	0% {
		/* border-color: transparent; */
	}
	100% {
		box-shadow: 5px 5px 0px #000000;
		/*border-color: #b63c3c; */
		backdrop-filter: blur(10px);
		background-color: #ffffff22;
	}
}